*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Courier New', Courier, monospace; }

h4 {
  color: #f1f1f1;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0; }

.content__item__info {
  padding: 20px;
  text-align: center; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px; }

.container-md {
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px; }

.container-xs {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }

@media screen and (max-width: 1000px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px; } }

@media screen and (max-width: 800px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; } }

.content {
  border: 1px solid rgba(37, 37, 37, 0.1);
  background-color: #fcfcfc;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
  padding: 15px;
  flex-wrap: wrap;
  align-content: space-between; }
  .content__item {
    width: 300px;
    height: 450px;
    background-color: #222;
    border: 1px solid rgba(37, 37, 37, 0.1);
    border-radius: 15px;
    margin: 5px; }
  .content__item1 {
    background-color: #0A0A0A; }
  .content__item2 {
    background-color: #FCFEFF; }
  .content__item3 {
    background-color: #FE4A49; }
  .content__item4 {
    background-color: #1B3951; }
  .content__item5 {
    background-color: #30343F; }

.heading-primary {
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
